body{
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Lexend Deca', sans-serif; 
}


h1 {
    color: blue;
}

img {
    border-radius: 50px;
}

li {
    list-style: none;
    transition: 0.5s;
}

li a {
    text-decoration: none;
    font-size: 40px;
}
